[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "libucontext"]
	path = libucontext
	url = https://github.com/kaniini/libucontext.git
[submodule "vcpkg"]
	path = vcpkg
	url = http://139.9.88.116:3000/r/module/vcpkg.git
